* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, arial;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/******************* /Utility ******************/
header {
    background-color: #ff6801;
    box-shadow: 8px 10px 12px 5px #717171;
    box-shadow: 10px 10px 40px 10px grey;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;

}

.container-header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navdx-header {
    padding: 15px;

}

.navsx-header {
    padding: 15px;
}

header img {
    width: 150px;
    padding: 15px;
}

header ul {
    display: flex;

}

header li {
    list-style: none;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 10px;
}

.navdx-header li {
    margin-right: 10px;

}

/************ /header*************/

/****  Main ****/
.container-main {

    width: 80%;
    margin: 0 auto;

}

.item {
    width: calc((100% - 30px) / 3);
    position: relative;

}

.row {
    margin-top: 100px;
}

.flex {
    display: flex;

}

.item img {
    width: 100%;
}

.margine {
    margin: 0 15px;
}

.label {
    display: block;
    position: absolute;
    left: 0;
    bottom: 150px;
    width: auto;
    height: 30px;
    padding: 5px;
    background-color: red;
    color: white;


}

.label-s {
    display: block;
    position: absolute;
    left: 50px;
    bottom: 150px;
    width: auto;
    height: 30px;
    padding: 5px;
    background-color: green;
    color: white;
}

.heart {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 30px;
    padding: 5px;
    background-color: rgb(241, 246, 241);
    font-size: 1.5em;



}

.prezzo {
    color: red
}

.underline {
    text-decoration: line-through;
    color: black;
}



/********* FOOTER**********/
footer {
    background-color: black;
    color: white;

}

.logosocial {
    width: 20px;
    margin-right: 10px;
    fill: #f6f6f6;
}

.logo-social svg {
    width: 20px;
    margin-right: 10px;
}

.cont-foot {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 50px;
    align-items: baseline;
}

.logo-social svg {
    max-width: 2rem;
    fill: #f6f6f6;
}

.logo-social {
    display: block;
    margin: auto;
}

.divsx-foot ul {
    display: flex;
    justify-content: space-between;

}

.divsx-foot li {
    list-style: none;
}

.divsx-foot {
    min-width: 30%;
}

.divsx-foot a {
    font-size: small;
    color: #f6f6f6;
    text-decoration: none;
}

/****************BONUS*********/
.heart:hover {
    color: red;
}

.seconda {
    display: none;
}

.item:hover .prima {
    display: none;
}

.item:hover .seconda {
    display: inline-block;
}